@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-crust: #10002bff;
    --color-mantle: #240046ff;
    --color-base: #3c096cff;
    --color-surface0: #5a189aff;
    --color-surface1: #7b2cbfff;
    --amethyst: #9d4eddff;
    --heliotrope: #c77dffff;
    --mauve: #e0aaffff;
}

body {
    background-color: var(--color-base);
    min-height: 100vh;
    margin: 0;
}

button {
    background-color: var(--color-surface1);
    border: none;
    padding: 5px;
    border-radius: 5px;
    transition: scale 200ms;
}

button:hover {
    scale: 1.03;
}

li {
    padding: 5px;
}

#app {
    display: flex;
}

.content {
    width: 80vw;
    padding: 30px;
}

.sidebar {
    background-color: var(--color-mantle);
    padding: 30px;
    flex-grow: 1;
    min-height: 100vh;
}

* {
    font-family: "Poppins";
    color: white
}